/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  color: #000000;
  font-family: Andika, sans-serif;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover; /*covers entire conainer*/
  background-position: center; /*was already here - centers the image*/
  background-image: url(https://luissolano01.github.io/homework4-2021/images/pigeon-background.JPEG);   /*BACKGROUND IMG*/
  background-color: #DDDDDD;  /* shows when image does NOT display; backup*/
  background-repeat: no-repeat; /* Does not repeat the image */


  /*Req 1*/
}

h1{
  color: #c12258;
  /*font-size: 2em;*/
  font-size: 32px;
  text-align: center;
  line-height: 2;
  /*Req 2*/
}

p{
  padding-top: 15px;
}

a:link{
  font-size: 16px;
  color: #B21F50;
  text-decoration-style: wavy;
}
a:visited{
  font-size: 16px;
  color: #B21F50;
  text-decoration-style: wavy;
}
a:hover{
  font-size: 16px;
  color: #B21F50;
  text-decoration-style: wavy;
}
a:active{
  font-size: 16px;
  color: #B21F50;
  text-decoration-style: wavy;
}

input:focus{
  border: 3px;
  border-style: dashed;
  border-color: #417243;
}
/*Req 5*/
/*Add selector and rule here*/

td{
  text-align: center;
  border-top:solid black 2px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}


.colhead{
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;       /*should use relative, absolute, fixed, etc instead??*/
  margin-top: auto;
  margin-bottom: auto;

  min-width: 125px;        /*column-width or min-width ?*/
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  background-color: #7e0825;
}

.rowhead{
  /*border-style: solid black 2px;*/
  border-left: solid black 0px;
  border-right: solid black 2px;
  border-top: solid black 2px;
  border-bottom: solid black 0px;
}


table{
    border: solid black 5px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */
thead tr:first-child th:first-child{
    border-top-left-radius: 50px;
}
thead tr:last-child th:last-child{
    border-top-right-radius: 50px;
}
tbody tr:last-child th:first-child{
    border-bottom-left-radius: 50px;
}
tbody tr:last-child td:last-child{
    border-bottom-right-radius: 50px;
}

/*Add selectors and rules here*/
tr:nth-child(odd){
  background:transparent;
}
tr:nth-child(even){
  background: #D1D1D1;
}
tr:hover{
  background: rgba(126, 8, 37, 0.25)
}


footer{
  width:100%;
  min-height: 75px;

  position:fixed;
  bottom:0;
  left:0;

  background:#000000;
  text-align:center;
  color: #FFFFFF;

}
